<div class="flex h-screen flex-col items-center justify-center">
  <h1 class="mb-4 text-6xl font-bold text-red-500">¡Vaya!</h1>
  <h2 class="mb-2 text-3xl font-bold text-gray-800">¡Parece que estás perdido!</h2>
  <p class="mb-6 text-gray-600">
    No pudimos encontrar la página que estás buscando.
  </p>
  <p class="text-gray-600">
    ¡Pero no te preocupes!
  </p>
  <a routerLink="/home" class="mt-4 rounded bg-blue-500 px-4 py-2 font-bold text-white hover:bg-blue-600">
    Volver a la Home
  </a>
</div>

