<div class="form-container">
  <div>
    <h2 >Login</h2>
    <form
    [formGroup]="loginForm"
    (ngSubmit)="login()"
    >
      <div>
        <label for="ts" >TimeStamp</label>
        <input type="text" id="ts" formControlName="ts">
      </div>
      <div>
        <label for="publicKey" >Public Api Key</label>
        <input type="text" id="publicKey"  formControlName="publicKey">
      </div>
      <div>
        <label for="privateKey" >Private Api Key</label>
        <input type="text" id="privateKey" formControlName="privateKey">
      </div>
      <div>
        <button
        type="submit"
        [disabled]="loginForm.invalid"
        >Login</button>
      </div>
    </form>
  </div>
</div>
